@{
    ViewData["Title"] = "My Podcasts";
}

<!--Podcasts page with link-->
<h1>My Podcasts</h1>

<div>
    <p>
        <pre>View my Podcasts <a href="https://baconsale.com">here</a></pre>
    </p>
</div>
